<h1>Categorias de Locais</h1>
<a btn href="/crud/c/{{entityName}}">Criar nova Categoria</a>
<table>
  <thead>
    <tr><th>Nome</th><th></th></tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <td>{{this.name.[0]}}</td>
      <td><a btn href="/crud/r/{{../entityName}}/{{this._id}}">-></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
