<a btn href="/register">Registrar</a>
<form action="/login" method="post">
  <h1>{{msg}}</h1>
  <label for="username">Nome de usuário</label>
  <input type="text" name="username" id="username">
  <label for="pws">Senha</label>
  <input type="password" name="pws" id="pws">
  <button type="submit">Logar</button>
</form>
