<a btn href="/login">Logar</a>
<form action="/register" method="post">
  <h1>{{msg}}</h1>
  <label for="username">Nome de usuário</label>
  <input type="text" name="username" id="username">
  <label for="pws">Senha</label>
  <input type="password" name="pws" id="pws">
  <label for="pws2">Confirmar Senha</label>
  <input type="password" name="pws2" id="pws2">
  <label for="token">Token</label>
  <input type="password" name="token" id="token">
  <button type="submit">Registrar</button>
</form>
